body{
    background-color: white
}

.login-form{
    width: 400px;
    border: 2px solid black;
    height: 400px;    
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 30px;
    box-shadow:#8DBCC7;
}

.login-form:hover{
    box-shadow: 0 0 20px #6cc1d4;
    transition: 2s ease-in-out;
}

.login-img{
    width: 70px;
    display: flex;
    margin-left: 40%;
    margin-bottom: 30px;
}

label{
    font-size: 20px;
    margin-bottom: 30px;

}

.inputA{
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: start;
    margin-left: 30px;
    padding: 10px;
}

.inputB{
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: start;
    padding: 10px;
}

.login-now:hover{
    font-size: 15px;
    transition: 2s;
}

.new{
    margin-left: 70px;
    margin-right: 40px;
}

.login-now{
    text-decoration: none;
    color: aliceblue;
    padding: 30px;
    font-size: 15px;
}

.login-btn{
      background-color: navy;
      border-radius: 20px;
      height: 30px;
      margin-left: 33%;
      margin-bottom: 40px;
      margin-top: 30px;

}

