body{
    background-color: whitesmoke
}

.login-form{
    width: 400px;
    border: 2px solid black;
    height: 600px;    
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px 4px #8DBCC7;
}

.login-form:hover{
    box-shadow: 4px 4px 14px 4px red;
    transition: 2s ease-in-out;
}

.login-img{
    width: 70px;
    display: flex;
    margin-left: 40%;
    margin-bottom: 30px;
}

label{
    font-size: 20px;
    margin-bottom: 30px;

}

.inputA{
    margin-bottom: 30px;
    border-radius: 20px;
    margin-left: 30px;
    padding: 10px;
}

.inputB{
    margin-bottom: 30px;
    margin-left: 25px;
    border-radius: 20px;
    padding: 10px;
}

.inputC{
    margin-bottom: 30px;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
}

.inputD{
    margin-bottom: 30px;
    margin-left: 90px;
    border-radius: 20px;
    padding: 10px;
}

.inputE{
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
}

.login-now{
    text-decoration:none;
    color: aliceblue;
}

.login-now:hover{
    font-size: 15px;
    transition: 2s;
}


.new{
    margin-left: 70px;
    margin-right: 40px;
}

.login-now{
    text-decoration: none;
    color: aliceblue;
    padding: 30px;
    font-size: 15px;
}

.login-btn{
      background-color: navy;
      border-radius: 20px;
      height: 30px;
      margin-left: 33%;
      margin-bottom: 40px;
      margin-top: 30px;

}

